<!DOCTYPE html>

<html lang="en">

<head>
		<% include ../partials/loged-in-header.ejs %>
		
		<script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    


		<style>
			:root {
				--input-padding-x: 1.5rem;
				--input-padding-y: .75rem;
				}
				
					body {
					background: #9CECFB;
						
					background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
					
					background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
				
				}

				.topbanner { 
					background:
				rgb(242, 239, 244);


				}

		
		</style>
				

</head>

<body>

		<div class="container">
				<div class="row">
					<div class="col-md-12">
							<b id="projectName" style="font-size:20px;"><%= projectName %></b> <br><br>
							<!-- Invite groupmate: <input id="invite" type="email" placeholder="Enter member email here"> 
								<button id="addGroupmate" class="btn btn-light">Add</button>
							<div id="addGroupmateAlert" style="color: red"></div>
							Add task: <textarea id="newTask" rows="4" cols="50" placeholder="Enter new task here. Limited to 500 characters."></textarea> <button id="addNewTask" class="btn btn-light">Add</button> <br> -->

							<button id="addGroupmate" type="button" class="btn btn-light" data-target="#inviteGroupmateModal" title="Invite a groupmate" data-project-id=<%= projectid %>>
								<span class="glyphicon glyphicon-star"></span>
								Invite a groupmate
							</button>

							<button id="removeGroupmate" type="data-project-id=<%= projectid %>button" class="btn btn-light" title="Remove a groupmate" data-project-id=<%= projectid %>>
									<span class="glyphicon glyphicon-star-empty"></span>
									Remove a groupmate
							</button>

							<button id="addNewTask" type="button" class="btn btn-light" data-target="#addNewTaskModal" title="Add new task" data-project-id=<%= projectid %>>
								<span class="glyphicon glyphicon-plus"></span>
								Add new task
							</button>
					</div>
				</div>
			</div>

			<!-- invite a groupmate modal -->
			<div class="modal fade" id="inviteGroupmateModal" tabindex="-1" role="dialog" aria-labelledby="inviteGroupmateModal" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Invite a groupmate</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
									<div id="inviteError" style="color:red"></div>
									<div class="input-group">
											<label style="color:black; font-size:15px;">Groupmate email:</label> &nbsp;
											<input type="email" class="form-control" id="groupmateEmail" placeholder="Enter groupmate email here"> <br>
											<!-- <div id="inviteError" style="color:red"></div> -->
									</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button id="invite" type="button" class="btn btn-primary">Invite</button>
							</div>
						</div>
					</div>
				</div>

				<!-- add new task modal -->
				<div class="modal fade" id="addNewTaskModal" tabindex="-1" role="dialog" aria-labelledby="addNewTaskModal" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Add new task</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
									<div class="input-group">
											<label style="color:black; font-size:15px;">New task:</label> &nbsp;
											<textarea id="newTask" type="text" cols="4" class="form-control" placeholder="Enter new task here. Limited to 500 characters."></textarea>
									</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button id="addTask" type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
							</div>
						</div>
					</div>
				</div>

<footer>
		<% include ../partials/footer.ejs %>
</footer>
      
</body>

<script type='text/javascript'>
	$("#addGroupmate").on("click", function(){
		$($(this).data("target")).modal("show");
		var inviteModal = $($(this).data("target"));
		var projectID = $(this).attr("data-project-id");
		//console.log($(this));
		//console.log("from web", projectID);
		$("#invite").on("click", function(){
			var newGroupmateEmail = $("#groupmateEmail").val().trim();
			if(newGroupmateEmail != ""){
				$.ajax({
					url: `/${projectID}/invite`,
					method: 'POST',
					data: {newGroupmateEmail: newGroupmateEmail},
					success : function(result){
						$("#groupmateEmail").val("");
						console.log(result);
						inviteModal.modal("hide");
					},
					error : function(err){
						//console.log(err.responseJSON.error);
						$("#groupmateEmail").val("");
						$("#inviteError").text('*'+ err.responseJSON.error);
					}
				});
			}
		});
	});

	$("#addNewTask").on("click", function(){
		$($(this).data("target")).modal("show");
	});

</script>



	
</html>