<!DOCTYPE html>

<html lang="en">

<head>
		<% include ../partials/loged-in-header.ejs %>
		
		<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery.js"></script> -->

    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    
		<style>
				:root {
					--input-padding-x: 1.5rem;
					--input-padding-y: .75rem;
				  }
				  
				  body {
					background: #9CECFB;
				   
					background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
					
					background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
					
				  }
				  
				  .card-signin {
					border: 0;
					border-radius: 1rem;
					box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
				  }
				  
				  .card-signin .card-title {
					margin-bottom: 2rem;
					font-weight: 300;
					font-size: 1.5rem;
				  }
				  
				  .card-signin .card-body {
					padding: 2rem;
				  }
				  
				  .form-signin {
					width: 100%;
				  }
				  
				  .form-signin .btn {
					font-size: 80%;
					border-radius: 5rem;
					letter-spacing: .1rem;
					font-weight: bold;
					padding: 1rem;
					transition: all 0.2s;
				  }
				  
				  .form-label-group {
					position: relative;
					margin-bottom: 1rem;
				  }
				  
				  .form-label-group input {
					height: auto;
					border-radius: 2rem;
				  }
				  
				  .form-label-group>input,
				  .form-label-group>label {
					padding: var(--input-padding-y) var(--input-padding-x);
				  }
				  
				  .form-label-group>label {
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 100%;
					margin-bottom: 0;
					
					line-height: 1.5;
					color: #495057;
					border: 1px solid transparent;
					border-radius: .25rem;
					transition: all .1s ease-in-out;
				  }
				  
				  .form-label-group input::-webkit-input-placeholder {
					color: transparent;
				  }
				  
				  .form-label-group input:-ms-input-placeholder {
					color: transparent;
				  }
				  
				  .form-label-group input::-ms-input-placeholder {
					color: transparent;
				  }
				  
				  .form-label-group input::-moz-placeholder {
					color: transparent;
				  }
				  
				  .form-label-group input::placeholder {
					color: transparent;
				  }
				  
				  .form-label-group input:not(:placeholder-shown) {
					padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
					padding-bottom: calc(var(--input-padding-y) / 3);
				  }
				  
				  .form-label-group input:not(:placeholder-shown)~label {
					padding-top: calc(var(--input-padding-y) / 3);
					padding-bottom: calc(var(--input-padding-y) / 3);
					font-size: 12px;
					color: #777;
				  }
				  
				  .btn-google {
					color: white;
					
				  }
				  
				  .btn-facebook {
					color: white;
					background-color: #3b5998;
				  }

				  .topbanner { 
  background:
rgb(242, 239, 244);


}

        
      
        /*for test*/
        body{
          height: 400px;
        }
				
				</style>
				

</head>

<body>
        <div class="container">
                <div class="row">
                    
                    
                    <div class="col-md-12">
                    <span>
                      <b style="font-size:20px;">Project Details</b> &nbsp&nbsp
                      <a href=<%= "/"+ userid +"/createproject"%>>
                        <button id="createproject" type="button" class="btn btn-light" title="Create new project">
                          <span class="glyphicon glyphicon-pencil"></span>
                          Create new project
                        </button>
                      </a>
                    </span> 
                    <div class="table-responsive">
            
                            
                          <table id="projects" class="table table-bordred table-striped">
                               
                               <thead style="font-size:15px;">
                                 <th>Project Name</th>
                                 <th>Description</th>
                                 <th>Created by</th>
                                  <th>Edit</th>
                                  
                                   <th>Delete</th>
                               </thead>
                <tbody>

                  <% for(var i=0; i < projects.length; i++){ %>
                    <tr class="project" id=<%= "project" + projects[i].id %>>
                      <!-- <td><%= projects[i].id %></td> -->
                      <td class="projectName"><a style="color:black;" href=<%= "/" + projects[i].id + "/project" %>><b><%= projects[i].name %></b></a></td>
                      <td class="projectDescription"><%= projects[i].project_description %></td>
                      <td><%= projects[i].creator %></td>
                      <% if(projects[i].creator === projects.currentUser){ %>
                        <td>

                          <div class="dropdown">
                              <button class="btn btn-primary btn-xs dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span class="glyphicon glyphicon-pencil"></span>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <button id="renameprojectname" class="dropdown-item" data-target="#renameProject" data-project-id=<%= projects[i].id %>>Rename project name</button>
                                <button id="editProjectDescription" class="dropdown-item" data-target="#editDescription" data-project-id=<%= projects[i].id %>>Edit project description</button>
                              </div>
                            </div>
                        </td>
                        <td><button type="button" class="deleteProject btn btn-danger btn-xs" data-title="Delete" data-target="#delete" data-project-id=<%= projects[i].id %>><span class="glyphicon glyphicon-trash"></span></button></td>
                        <% } %>
                    </tr>
                  <% } %>
                
                <tr>

                
                </tbody>
                    
            </table>
            
            <!-- <div class="clearfix"></div> -->
            <!-- <ul class="pagination pull-right">
              <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            </ul> -->
                            
                        </div>
                        
                    </div>
                </div>
            </div>

                  <!-- delete project modal -->
                <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Are you sure you want to delete this project?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <div class="alert alert-danger">
                              <span class="glyphicon glyphicon-warning-sign"></span> 
                              You will delete all records related to this project including you and your teammates' todo lists. After deletion, you and your teammates will no longer have access to modify this deleted project. 
                             </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="deleteThis" type="button" class="btn btn-danger" data-dismiss="modal">Delete project</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- rename project modal -->
                <div class="modal fade" id="renameProject" tabindex="-1" role="dialog" aria-labelledby="renameProject" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Rename Project</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <div style="display: flex;">
                                <label>New project name:</label> &nbsp;
                                <input id="newProjectName" style="flex: 1;" type="text" >
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button id="rename" type="button" class="btn btn-primary" data-dismiss="modal">Rename project</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- edit project description modal -->
                  <div class="modal fade" id="editDescription" tabindex="-1" role="dialog" aria-labelledby="editDescription" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">Edit Project Description</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              <div style="display: flex;">
                                  <label>Project description:</label> &nbsp;
                                  <textarea id="newProjectDescription" style="flex: 1;" type="text" ></textarea>
                              </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="editD" type="button" class="btn btn-primary" data-dismiss="modal">Edit Description</button>
                          </div>
                        </div>
                      </div>
                    </div>

		<footer>
            <% include ../partials/footer.ejs %>
        </footer>
  </body>
  <script type="text/javascript">
    $("#projects").on("click", "tbody .project td .deleteProject", function(){
        $($(this).data("target")).modal("show");
        //console.log($(this).attr("data-project-id"));
        var projectID = $(this).attr("data-project-id");
        var parentTag = $(this).parent().parent();
        $("#deleteThis").on("click",function(){
          $.ajax({
            url: "/deleteproject",
            method: 'POST',
            data: {projectID: projectID}
          }).then(()=>{
            parentTag.remove();
          });
        });
    });

    $("#projects").on("click", "tbody .project td .dropdown .dropdown-menu #renameprojectname", function(){
        $($(this).data("target")).modal("show");
        //console.log($(this).attr("data-project-id"));
        var projectID = $(this).attr("data-project-id");

        $("#rename").on("click",function(){
          var newName = $("#newProjectName").val().trim();
          //console.log(newName);
          if (newName != ""){
            $.ajax({
              url: "/renameproject",
              method: 'POST',
              data: {
                projectID: projectID,
                newName : newName
              }
            }).then(()=>{
              var pid = "project"+projectID;
              $("tbody #"+pid+" .projectName").text(newName);
            });
          }
         });
    });

    $("#projects").on("click", "tbody .project td .dropdown .dropdown-menu #editProjectDescription", function(){
        $($(this).data("target")).modal("show");
        //console.log($(this).attr("data-project-id"));
        var projectID = $(this).attr("data-project-id");

        $("#editD").on("click",function(){
          var newDescription = $("#newProjectDescription").val().trim();
          //console.log(newName);
          if (newDescription != ""){
            $.ajax({
              url: "/editprojectdescription",
              method: 'POST',
              data: {
                projectID: projectID,
                newDescription : newDescription
              }
            }).then(()=>{
              var pid = "project"+projectID;
              $("tbody #"+pid+" .projectDescription").text(newDescription);
            });
          }
         });
    });
  </script>
</html>